.footer {
    background-color: #131313;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footerIcons span {
    font-size: 1.5rem;
    padding: 5px;
    margin: 0;
}

.footer .update {
    font-size: .5rem;
}