.resumeImg {
    width: 100%;
    height: auto;
    border-radius: 2px;
}

.resumeText {
    text-align: center;
    padding: 10px;
}


@media (min-width:750px){
    .resumeImg {
        display: flex;
        width: 80%;
        padding: 3em;
        margin: 0 auto;
    }
}