.contactText{
    padding: 1em;
}

.thankYou {
    display: none;
}

@media (min-width: 750px){
    .contactText {
        margin: 0 5em 0 5em;
        padding: 3em 3.5em 0 3em;
        text-align: center;
    }
    
    .thankYou {
        display: flex;
        width: 50%;
        height: auto;
        margin: 0 auto 2em auto;
        border-radius: 2px;
    }
}
